
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Renting</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>



    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Rent A Car</h1>
        <p>Do you work on renting cars marketing? Is your company still  small? Do you want have a bigger? Then advertise your car on our website.Reach more people.</p>
        <p><a class="btn btn-primary btn-lg" href="register" role="button">Sign Up&raquo;</a>
        <a class="btn btn-success btn-lg" href="navbar" >Sig In&raquo;</a
                Sign UP to Earn More!&raquo;</a>
        <a class="btn btn-warning btn-lg" href="about" >Ask Question&raquo; </a></p>
         <div class="search">
        <form method="get" action="/result/">
            <label for="q">
            <input type="text" name="q" id="q" />
            <input type="Submit" value="Search" href="result" role="m"  />
        </form>


    </div>


      </div>
    </div>
   </div>
    {% load static %}
     <body>
        <img src="{% static "rango.jpg" %}" alt="right" style="max-width:500px; height:250px;/>
<!-- Images -->
    </body>
    <body>
        <img src="{% static "merh.jpg" %}" alt="right" style="max-width:500px; height:250px;/>
<!-- Images -->
    </body>
   </div>

    <div class="container">

      <hr>

      <footer>
        <p>&copy; by Akkus Company</p>
      </footer>
    </div> <!-- /container -->


